site_name: athackst/mkdocs-simple-plugin
docs_dir: /tmp/mkdocs-simple/mkdocs-simple-plugin
plugins:
- search
- simple:
    semiliterate:
    # To use the default Python extraction with other patterns, we
    # must re-specify it:
    - pattern: '(\.py)$'
      start: '"""\smd'
      stop: '"""'
    # Line comment example:
    - pattern: Dockerfile()$|(\.yml)$
      start: '###\smd'
      stop: '###\s*$'
      # Remove the leading `#` from all normally-extracted lines:
      replace: ['^#(.*\s*)$']
    # Enable inclusion directive in .md files:
    - pattern: '(\.md)'
      start: '^(.*\s*)$'
      replace: [['^(.*)<!-- repo: -->.*<!-- docs:(.*)-->(.*\s*)$', '\1\2\3']]
    include_standard_markdown: false
    ignore_folders: [tests]
theme:
  name: material
  palette:
    primary: green
    accent: green
markdown_extensions:
- admonition
- pymdownx.superfences
- pymdownx.highlight:
    use_pygments: true
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji ''
    emoji_generator: !!python/name:materialx.emoji.to_svg ''
extra:
  social:
  - icon: fontawesome/brands/twitter
    link: https://twitter.com/althack
  - icon: fontawesome/brands/docker
    link: https://hub.docker.com/u/athackst
  - icon: fontawesome/regular/laugh
    link: https://allisonthackston.com
edit_uri: ''
nav:
- About: README.md
- Mkdocs Simple Generator: mkdocs_simple_plugin/generator.md
- Mkdocs Simple Plugin: mkdocs_simple_plugin/plugin.md
- Github Action: action.md
- Docker: docker/docker.md
- Developers:
  - Developing: mkdocs_simple_plugin/README.md
  - Contributing Guide: CONTRIBUTING.md
