cairosvg==2.9.0
click==8.4.2
flake8==7.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mike==2.2.0
mkdocs-awesome-pages-plugin==2.10.1
mkdocs-click==0.9.0
mkdocs-macros-plugin==1.5.0
mkdocs-material==9.7.6
mkdocs==1.6.1
mkdocstrings-python
mkdocstrings==1.0.4
pillow==12.3.0
pip-upgrader==2.4.5
pydocstyle==6.3.0
pymdown-extensions==11.0.1
PyYAML==6.0.3
hatch==1.17.1
typing-extensions==4.16.0
mkdocs-git-revision-date-localized-plugin==1.5.3
