name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release-pypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Set up Python
        uses: actions/setup-python@v2.3.2
        with:
          python-version: "3.x"
      - name: Build and Publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install -r requirements.txt;
          python setup.py sdist bdist_wheel
          twine upload dist/* --verbose
  release-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - name: Setup environment
        run: |
          echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV
      - name: Login to DockerHub
        uses: docker/login-action@v1.14.1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push docker image
        uses: docker/build-push-action@v2.9.0
        with:
          context: .
          file: ./Dockerfile
          tags: |
            althack/mkdocs-simple-plugin:latest
            althack/mkdocs-simple-plugin:${{ env.VERSION }}
          push: true
