name: draft release

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  update_release_draft:
    permissions:
      # write permission is required to create a github release
      contents: write
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.release-draft.outputs.tag_name }}
    steps:
      # Drafts your next Release notes as Pull Requests are merged into "main"
      - uses: release-drafter/release-drafter@v6.2.0
        id: release-draft
        with:
          # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update_version:
    permissions:
      # write permission is required to push updated version
      contents: write
    runs-on: ubuntu-latest
    needs: update_release_draft
    env:
      VERSION: ${{ needs.update_release_draft.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.RELEASEBOT_TOKEN }}
      - name: Bump VERSION
        run: |
          echo "Bumping version to ${VERSION}"
          echo "${VERSION}" > VERSION
      - name: Commit and push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add VERSION
          if git commit -m "Updating VERSION to ${VERSION}"; then
            git push -f
            echo "Pushed update to main"
          fi
