name: Test workflows

on:
  pull_request:
    types:
      - "labeled"
      - "opened"
      - "reopened"
      - "synchronize"
  workflow_dispatch:

jobs:
  test-docs:
    if: contains(github.event.pull_request.labels.*.name, 'test-docs' )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Docs
        uses: ./
        env:
          DRY_RUN: true

  test-tagging:
    if: contains(github.event.pull_request.labels.*.name, 'test-tagging')
    runs-on: ubuntu-latest
    env:
      VERSION: "test-tag-${{ github.run_number }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.RELEASEBOT_TOKEN }} 
      - name: tag
        run: ./.github/bump_tag.sh
      - name: cleanup tag
        if: ${{ always() }}
        run: git push --delete origin v${VERSION}
      - name: cleanup branch
        if: ${{ always() }}
        run: git push --delete origin release/v${VERSION}

  test-docker:
    if: contains(github.event.pull_request.labels.*.name, 'test-docker')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          tags: |
            athackst/mkdocs-simple-plugin:latest
            athackst/mkdocs-simple-plugin:v${{ env.VERSION }}
          push: false
