name: Test Workflows

on:
  pull_request:
    branches: [master]
    types:
        - "labeled"
        - "opened"
        - "reopened"
        - "synchronize"
  workflow_dispatch:

jobs:
  test-docs:
    if: contains(github.event.pull_request.labels.*.name, 'test-docs' )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Docs
        uses: ./
        with:
          publish_branch: gh-pages-test
  test-tagging:
    if: contains(github.event.pull_request.labels.*.name, 'test-tagging')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: tag
        run: |
          git config --local user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --local user.name "${GITHUB_ACTOR}"
          git remote add action https://x-access-token:${RELEASEBOT_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git tag "test-tag"
          git push --tags --force
          sed "s/^    version=.*/    version='0.0.0',/" -i setup.py
          git add setup.py
          git commit -m "testing bump commit"
          git checkout -b release/v0.0.0-test
          git show-ref
          echo "Pushing to release/v0.0.0-test"
          git push action release/v0.0.0-test
          git tag -f "test-tag"
          git push --tags --force action
  test-docker:
    if: contains(github.event.pull_request.labels.*.name, 'test-docker')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push docker image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          tags: athackst/mkdocs-simple-plugin:latest,athackst/mkdocs-simple-plugin:v${{ env.VERSION }}
          push: false
